<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.uulm.mi.autoui.chatbot">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- This has been added for Task 3-->
        <receiver android:name=".ChatBotReadReceiver"
                android:exported="false">
            <intent-filter>
                <action android:name="de.uulm.mi.autoui.chatbot.MY_ACTION_MESSAGE_READ"/>
            </intent-filter>
        </receiver>
        <!-- This has been added for Task 3-->
        <receiver android:name=".ChatBotReplyReceiver"
              android:exported="false">
            <intent-filter>
                <action android:name="de.uulm.mi.autoui.chatbot.MY_ACTION_MESSAGE_REPLY"/>
            </intent-filter>
        </receiver>
        <!-- Added for Task3 for the Auto capabilities-->
        <meta-data android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>

    </application>

</manifest>